# SQL Server
ACCEPT_EULA=Y
SA_PASSWORD=
MSSQL_PID=Developer

# Database
DB_HOST=sqlserver
DB_NAME=ProcessoSelecaoDb
DB_USER=sa
DB_PASSWORD=

# JWT (mínimo 32 caracteres)
JWT_SECRETKEY=
JWT_ISSUER=
JWT_AUDIENCE=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
FROM_EMAIL=

# App
ASPNETCORE_ENVIRONMENT=Development
