# ==============================================
# Gerenciamento de versoes de ferramentas
# Usa: asdf (https://asdf-vm.com)
#
# Instalar asdf:
#   git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
#   . ~/.asdf/asdf.sh
#
# Instalar plugins e versoes:
#   asdf plugin add dotnet
#   asdf plugin add nodejs
#   asdf install
# ==============================================

dotnet 10.0.200
nodejs 24.0.0
